extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, nostrum nam veritatis, id facilis assumenda quidem laboriosam laborum vitae sit totam consequuntur iste officia? Facere quidem provident consequatur repellat rerum!Ullam dolorum sequi ea 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, nostrum nam veritatis, id facilis assumenda quidem laboriosam laborum vitae sit totam consequuntur iste officia? Facere quidem provident consequatur repellat rerum!Ullam dolorum sequi ea
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")               