extends ./layout/index

block contenido 
    h1.container.mt-5 #{pagina}
        .row

            h2.d-block-w-100.text-center Agrega un Testimonial

            .row.justify-content-center.col 
                .col-md-8 
                    form(action="" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Tu Nombre", name="nombre", class="form-control")
                        .form-group
                            label(for="correo") Correo Electrónico
                            input#correo(type="text", placeholder="Tu Correo", name="correo", class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(rows=3, placeholder="Tu Mensaje", name="mensaje", class="form-control")

                        input.btn.btn-success.btn-block(type="submit")